<div class="col-sm-12 col-md-6">
	<div class="thumbnail">	
		<form class="form-horizontal">
			<div class="form-group">
	    		<label class="col-sm-4 control-label">Titre</label>
	    		<div class="col-sm-8">
	     		 	<p ng-bind="voirMediaCtrl.media.titre" class="form-control-static"></p>
	    		</div>
	 		</div>
			<div class="form-group">
	    		<label class="col-sm-4 control-label">Type média</label>
	    		<div class="col-sm-8">
	     		 	<p class="form-control-static"><span class="{{voirMediaCtrl.media.type | TypeIcon}}"></p>
	    		</div>
	 		</div>
			<div class="form-group">
	    		<label class="col-sm-4 control-label">Nom auteur</label>
	    		<div class="col-sm-8">
	     		 	<p ng-bind="voirMediaCtrl.media.auteur" class="form-control-static"></p>
	    		</div>
	 		</div>
			<div class="form-group">
	    		<label class="col-sm-4 control-label">Nom emprunteur</label>
	    		<div class="col-sm-8">
	     		 	<p ng-bind="voirMediaCtrl.media.emprunteur | NomPrenom" class="form-control-static"></p>
	    		</div>
	 		</div>
			<div class="form-group">
	    		<label class="col-sm-4 control-label">Date retour</label>
	    		<div class="col-sm-8">
	     		 	<p ng-bind="voirMediaCtrl.media.retour | DateFormat" class="form-control-static"></p>
	    		</div>
	 		</div>
	 		
	 		<div>
	 			<table class="table table-hover table-bordered table-striped">
	 				<div><h3>Liste des personnes ayant déja empruntés ce livre</h3></div>
	   		 		<thead> 
						<tr>
							<th>Emprunteur</th>
							<th>Date emprunt</th>
							<th>Date retour</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="emprunteur in voirMediaCtrl.media.emprunteurs">
							<td ng-bind="emprunteur.adherent | NomPrenom"></td>
							<td ng-bind="emprunteur.depart | DateFormat"></td>
							<td ng-bind="emprunteur.retour | DateFormat"></td>							
						</tr>
					</tbody>
	   		 	</table>
	 		</div>		 		
	 		<div class="form-group">
    			<div class="col-sm-offset-4 col-sm-6">
      				<a href="#/media" class="btn btn-primary"  role="button"><span>Précédent</span></a>
    			</div>
  			</div>
		</form>
	</div>
</div>