/* Header */
header {
    height:100px;
/*     background-color:#c0c0c0; */
    background-image: url("../img/header-biblio2.jpeg");
    background-repeat: no-repeat;  
/*     background-size: cover; */
    border:1px solid #CCC;
    margin:0px auto;
    text-align: right;
    padding: 10px;
    
/*     background: -webkit-repeating-linear-gradient(gray, white 10%);  */
/*     background: -o-repeating-linear-gradient(gray, white 10%);  */
/*     background: -moz-repeating-linear-gradient(gray, white 10%); */
/*     background: repeating-linear-gradient(gray, white 10%); */
}

/* titre clignotant */
.blink {
	color: #000000;
	animation:  blink-animation 1s steps(2, start) infinite;
	-moz-animation:  blink-animation 1s steps(2, start) infinite;
	-webkit-animation: blink-animation 1s steps(2, start) infinite;
}

/* Pied de page fixe */
footer {
	width: 100%;
	position: fixed;
	padding: 5px;
	background-color: #d8d8d8;
	bottom: -15px;
	height: 50px;
	border: 1px solid #CCC;
	margin: 0px auto;
	text-align: center; 
	}
footer:hover {
	bottom: 0px;
	-webkit-transition: bottom 2s;
	transition: bottom 0.5s;
}

#a-Decaler {
    margin-left: 100px;
}

#formLogin {
	border-style: solid;
	border-radius : 1em;
	border-color : #d8d8d8;
	margin-top: 50px;
	padding: 20px;
}