.formBlc {
	border: 2px solid #a1a1a1;
	padding: 5px;
	margin-bottom: 10px;
	border-radius: 1em 1em 1em 1em;
}

.myIconWidth {
	width: 14px;
}

formBlc>input {
	border-radius: 0px;
}

.input-group .form-control[type=date] {
	overflow: hidden;
}
